.notification-card {
	position: fixed;
	bottom: -100px; /* Initially hidden below the screen */
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	color: #000;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	transition: bottom 0.5s ease-in-out;
	z-index: 800;
	width: 97%;
	min-width: 200px;
	max-width: 400px;
	margin: 0 auto;
	&.show {
		bottom: 20px;
	}
	&.success {
		background: green;
		color: #fff;
		svg path {
			fill: #fff;
		}
	}
	&.error {
		color: #f6566b;
		background: #fff;
		svg path {
			fill: #f6566b;
		}
	}
}
