.breadcrumb {
	width: 100%;
	padding: 8px 24px;
	display: flex;
	align-items: center;
	gap: 0.8rem;
	border-bottom: 1px solid #eaeaea;
	@media (max-width: 768px) {
		display: none;
	}
	a {
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		text-decoration: none;
	}

	svg {
		width: 7px;
		height: 7px;
	}

	span {
		height: 16px;
		width: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			height: 100%;
			width: 100%;
		}
	}
}

.breadcrumbmobile {
	display: none;
}
