@import '../../../assets/style/variables.scss';

.body-column-left {
	width: 100%;
	box-sizing: border-box;
	@media (max-width: $md-breakpoint) {
		width: 100%;
	}
}

.body-column-right {
	width: 31%;
	box-sizing: border-box;
	@media (max-width: $md-breakpoint) {
		width: 100%;
		margin-top: 30px;
	}
}

.overview-section {
	width: 100%;
	height: auto;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 30px;
	border: 1px solid #e7e7e7;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	@media (max-width: $md-breakpoint) {
		flex-direction: column;
	}
}

.map-view-section {
	width: 100%;
	height: auto;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	background: none;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	@media (max-width: $md-breakpoint) {
		justify-content: center;
		flex-wrap: wrap;
	}
}

.map-view-image {
	max-width: 350px;
	width: 100%;
	@media (max-width: $md-breakpoint) {
		margin-bottom: 40px;
	}
}

.logged-user-section {
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.logged-user-section-row {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-bottom: 30px;
	display: 'flex';
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	&.no-margin {
		margin-bottom: 0;
	}
}

.about-section-column {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-bottom: 30;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-left: 0;
	&.nomargin {
		margin-bottom: 0;
	}
	@media (max-width: $md-breakpoint) {
		justify-content: center;
	}
}

.about-section-row {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	&.nomargin {
		margin-bottom: 0;
	}
	@media (max-width: $md-breakpoint) {
		justify-content: center;
	}
}

.logged-user-section-row-header-text {
	font-size: 12px;
	margin: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #616161;
}

.logged-user-section-row-header-link-text {
	font-size: 12px;
	margin: 0;
	margin-bottom: 5px;
	color: #286439;
}

.header-row-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	@media (max-width: $md-breakpoint) {
		margin-bottom: 20px;
	}
}

.logged-user-section-row-body-text {
	font-size: 16px;
}

.overview-section-columns {
	height: auto;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	@media (max-width: $md-breakpoint) {
		margin-bottom: 40;
		&.noborder {
			margin-bottom: 0;
		}
	}
}

.over-view-section-columns-header-text {
	font-size: 12px;
	margin: 0;
	margin-bottom: 5;
	text-transform: uppercase;
}

.link-container {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	display: flex;
	text-decoration: none;
	margin: 0;
	&:hover {
		color: 'inherit';
	}
}

.over-view-stats {
	.link-container {
		@media (max-width: $lg-breakpoint) {
			margin: 0 auto;
		}
	}
}
